@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap');
*{
    padding: 0;
    margin:  0;
    font-family: cursive;

}
.header{
    background-color: purple;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 5px;

}
.header .row{
    justify-content: center;
    display: flex;
}
.header .column{
    flex: 1;
    text-align: center;
}
.navbar{
  position: fixed;

  top: 0;
  width: 100%;
  z-index: 1000;
    margin-top: 20px;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0px 4px 3px rgb(143, 3, 138);
    text-shadow: 1px 3px 3px rgb(143, 3, 138); 
}
.container h1,p{
     box-shadow: 0px 4px 3px rgb(143, 3, 138);
     text-shadow: 1px 3px 3px rgb(143, 3, 138); 
     text-align: center;
     font-weight: bold;

}
.center-btn1{
    display: flex;
    align-items: center;
  justify-content: center;
}
.btn1{
    background-color: rgb(249, 137, 249);
    border-radius: none;
    font-weight: bold;
      text-shadow: 1px 3px 3px rgb(143, 3, 138);
    
}
.arrow {
  display: inline-block;
  animation: bounce 1s infinite;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 40px;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(8px); }

}
.card-body .card-title{
    font-weight: bold;
    font-size: 20px;
    color: rgb(45, 1, 45);
      text-shadow: 1px 3px 3px rgb(89, 1, 86);
    
}
.center-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
  border-radius: 10px;
  background-color:rgb(249, 137, 249); 
  font-weight: bold;
   text-shadow: 1px 3px 3px rgb(89, 1, 86);
   box-shadow: 0px 4px 3px rgb(143, 3, 138);
}
.btn:hover{
  box-shadow: 10px 14px 13px rgb(86, 0, 83) ;
}
.crep{
   font-weight: bold;
   font-size: 30px;
   text-align: center;
   margin-bottom: 10px;
  text-shadow: 1px 3px 3px rgb(143, 3, 138); 
}
.crep:hover{
  text-shadow: 10px 13px 13px rgb(83, 4, 80); 
}
.shakes{
  font-size: 30px;
 text-align: center;
 font-weight: bold;
 margin: 10px;
 margin-bottom: 20px;
text-shadow: 1px 3px 3px rgb(89, 1, 86);
color: rgb(45, 1, 45);
 
}
.shakes:hover{
   text-shadow: 10px 13px 13px rgb(83, 4, 80); 
}
.fresh{
   font-size: 30px;
 text-align: center;
 font-weight: bold;
 margin: 10px;
 margin-bottom: 20px;
text-shadow: 1px 3px 3px rgb(89, 1, 86);
color: rgb(45, 1, 45);
 
}
.fresh:hover{
   text-shadow: 10px 13px 13px rgb(83, 4, 80); 
}
.footer{
  background-color: rgb(240, 148, 240);
  text-align: center;
  padding: 30px 0;
  font-weight: bold;
  text-shadow:1px 3px 3px rgb(247, 221, 247);
}
.menu{
 font-size: 30px;
 text-align: center;
 font-weight: bold;
 margin-top: 30px;
 margin-bottom: 30px;
 text-shadow: 1px 3px 3px rgb(164, 39, 160);
 color: rgb(45, 1, 45);
text-decoration: underline;
}
table{
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgb(59, 1, 57);
  background-color:rgb(244, 195, 244);

}
th{
  text-align: center;
  font-weight: bold;
}
td{
 text-align: center;
}
.table-hover tbody tr:hover{
  background-color: rgb(197, 100, 197);
  transition: 0.2s;
  box-shadow: 0px 4px 10px rgb(59, 1, 57); 
}
.nav2{
 position: fixed;
 z-index: 1000;
 width: 100%;
}
.navbar-link{
  margin-bottom: 20px;
  margin-left: 20px;
  justify-content: space-between;
  margin: top;
  display: flex;
}





.image-logo{
  text-align: center;

}
.image-logo img{
  margin-top: 100px;
width: 100px;
height: 100px;
  margin-top: 50px;
  border-radius: 50%;
  object-fit: cover;


}
.text1{
  background-color: none;
}
.txt1{
  font-size: 30px;
  margin-top: 20px;
  font-family: Times New Roman;
  font-weight: bold;
}
.button-logo{
  text-align: center;
}
.btnlogo{
  border-radius: 10px;
  background-color:rgb(249, 137, 249); 
  font-weight: bold;
   text-shadow: 1px 3px 3px rgb(89, 1, 86);
   box-shadow: 0px 4px 3px rgb(143, 3, 138);
   margin-top: 50px;
   margin-bottom: 50px;
}
.btnlogo:hover{
  box-shadow:0px 4px 3px rgb(45, 0, 43); ;
}